
SantaMesa/SantaMesa/obj/Debug/SantaMesa.pdb
SantaMesa/SantaMesa/obj/Debug/SantaMesa.dll
SantaMesa/SantaMesa/obj/Debug/SantaMesa.csprojAssemblyReference.cache
SantaMesa/SantaMesa/obj/Debug/SantaMesa.csproj.FileListAbsolute.txt
SantaMesa/SantaMesa/obj/Debug/SantaMesa.csproj.CoreCompileInputs.cache
SantaMesa/SantaMesa/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SantaMesa/SantaMesa/bin/SantaMesa.pdb
SantaMesa/SantaMesa/bin/SantaMesa.dll
SantaMesa/.vs/SantaMesa/v16/.suo
SantaMesa/.vs/SantaMesa/config/applicationhost.config
SantaMesa/.vs/SantaMesa/config/applicationhost.config
SantaMesa/.vs/SantaMesa/v16/.suo
SantaMesa/SantaMesa/bin/SantaMesa.dll
SantaMesa/SantaMesa/bin/SantaMesa.pdb
SantaMesa/SantaMesa/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SantaMesa/SantaMesa/obj/Debug/SantaMesa.csproj.CoreCompileInputs.cache
SantaMesa/SantaMesa/obj/Debug/SantaMesa.csproj.FileListAbsolute.txt
SantaMesa/SantaMesa/obj/Debug/SantaMesa.dll
SantaMesa/SantaMesa/obj/Debug/SantaMesa.pdb
SantaMesa/.vs/SantaMesa/config/applicationhost.config
SantaMesa/.vs/SantaMesa/v16/.suo
SantaMesa/SantaMesa/bin/SantaMesa.dll
SantaMesa/SantaMesa/bin/SantaMesa.pdb
SantaMesa/SantaMesa/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SantaMesa/.vs/SantaMesa/config/applicationhost.config
