.form-control,.center-block{
    display:inline-block;
}
body {
    padding: 0;
    background: #FFFFFF;
}
.menu{
    font-size:1.5em;
    padding:1.25rem 2rem;
    color:black;
}
.container {
    padding: 1rem;

}
.fondo {
    background: #FFFFFF;
    border-color: #FFFFFF;
}
.chess { 
    background-image:url('img/chess.png');
    background-size:100%;
    padding:1.5rem;
}
.chess_text{
    color:white;
}
.chess_text:hover {
    color: white;
}
chess_input{
    display:inline-block;
}
.btn_chess {
    display:inline-block;
    color: white;
    background-color: black;
}
.footer-links{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_icon{
    margin-right:0.5rem;
}
.fa {
    padding: 1.5rem;
    font-size: 2rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}

.loginBox {
    background-color:red;

}
.banner-img{
    width: 100%;
}
.input-reset{
   max-width:none;
}
.chess_img{
    width:100%;
}