@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="container">
        <img class="img-fluid" src="/img/banner.png" />
        <h1>Bienvenido a Santa mesa</h1>
        <p class="lead">Encontraras juegos de mesa, rol y rompecabezas mas populares del mercado</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img class="img-fluid" src="/img/bg.jpg" />
                    <button type="button" class="btn btn-primary">Acceder</button>
                </a>
                <p class="lead">Juegos de mesa modernos</p>
            </div>
            <div class="col">
                <a href="#">
                    <img class="img-fluid" src="/img/rpg.jpg" />
                    <button type="button" class="btn btn-primary">Acceder</button>
                </a>
                <p class="lead">Juegos de rol</p>
            </div>
            <div class="col">
                <a href="#">
                    <img class="img-fluid" src="/img/puzzle.jpg" />
                    <button type="button" class="btn btn-primary">Acceder</button>
                </a>
                <p class="lead">rompecabezas de 500 a mas piezas</p>
            </div>
        </div>
    </div>
</div>
