@model IEnumerable<SantaMesa.Models.Productos>
@{ ViewBag.Title = "Catalogo"; }

<div class="row">
    <div class="container">
        <img class="img-responsive banner-img" src="~/styles/img/catalogo.png" />
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-10 ">
                <h3>Relevancia</h3>
            </div>
            <div class="col-md-2 categories">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>

        </div>

        @foreach (var item in Model) {
            <p></p>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(modelItem => item.imagen)" alt="...">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.nombre_producto)</h3>
                        <div class="row">
                            <div class="col-md-8">

                                <p>S/.@Html.DisplayFor(modelItem => item.precio)</p>

                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>

        }

        @*<div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
