@{
    ViewBag.Title = "Home Page";
}

<style>
    
    .portada>img {
        width: 100%;
        height: 350px
    }
    .portada p,h2{
        text-align:center;
    }


    ._container{
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .itemCategoria {
        width:15%;
        float:left;
        margin:15px;

        display:flex;
        align-items:center;
        flex-direction:column;
    }
    .itemCategoria img {
        width: 100%;
        height: 150px;
    }
    .itemCategoria h4 {
        text-align:center;
    }
    .itemProducto {
        width: 15%;
        float: left;
        margin: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        .itemProducto img {
            width: 100%;
            height: 150px;
        }
    .btnCatgoria {
        background-color: #0E4AA0;
        color:white;
        padding:5px;
    }



</style>

<div class="portada">
    <img src="~/styles/img/SantaMesa_Portada.png" alt="Alternate Text"/>
    <div>
        <h2 class="saludo">Bienvenido a Santa Mesa</h2>
        <p class="description">Encontrarás juegos de mesa, rol y rompecabezas mas populares del mercado</p>
    </div>
</div>

<div class="categorias_index">
<h3>Categorías</h3>     
<div class="_container">
    <div class="itemCategoria">
        <img class="imgCategoria" src="~/styles/img/index/infantilCat.jpg" alt="imagen categoria infantil" />
        <h4>Infantiles</h4>
        <button class="btnCatgoria">Descubre</button>
    </div>
    <div class="itemCategoria">
        <img class="imgCategoria" src="~/styles/img/index/cooperativosCat.jpg" alt="imagen categoria infantil" />
        <h4>Cooperativos</h4>
        <button class="btnCatgoria">Descubre</button>
    </div>
    <div class="itemCategoria">
        <img class="imgCategoria" src="~/styles/img/index/familiaresCat.jpg" alt="imagen categoria infantil" />
        <h4>Familiares</h4>
        <button class="btnCatgoria">Descubre</button>
    </div>
    <div class="itemCategoria">
        <img class="imgCategoria" src="~/styles/img/index/abstractosCat.jpg" alt="imagen categoria infantil" />
        <h4>Abstractos</h4>
        <button class="btnCatgoria">Descubre</button>
    </div>
</div>
<div class="ofertas_index">
    <h3>Ofertas</h3>

    <div class="_container">
        <div class="itemProducto">
            <img src="#" alt="imagen de producto" />
            <h4>Nombre producto</h4>
            <p>S/ 100</p>
            <button class="btnCatgoria">Añadir</button>
        </div>
        <div class="itemProducto">
            <img src="#" alt="imagen de producto" />
            <h4>Nombre producto</h4>
            <p>S/ 100</p>
            <button class="btnCatgoria">Añadir</button>
        </div>
        <div class="itemProducto">
            <img src="#" alt="imagen de producto" />
            <h4>Nombre producto</h4>
            <p>S/ 100</p>
            <button class="btnCatgoria">Añadir</button>
        </div>
    </div>
</div>
</div>

