
@{
    ViewBag.Title = "ProductoDetalle";
}

<h2>ProductoDetalle</h2>
<div class="container">
    <img class="img-fluid banner-img" src="~/styles/img/catalogo.png" />
    
</div>
<div class="row">
    <div class="col-md-4">
        <img src="#" alt="Alternate Text" />
        <div class="row">
            <img src="#" alt="Alternate Text" />
            <img src="#" alt="Alternate Text" />
            <img src="#" alt="Alternate Text" />
        </div>
    </div>
    <div class="col-md-8">
        <h3>Exploding Kittens</h3>
        <small>Modelo: EKEK01ES</small>
        <p>Exploding Kittens es un juego rápido y divertido en el que tienes que asegurar tu supervivencia ante los temibles ¡gatos explosivos! Un juego de cartas en el que hasta cinco jugadores hacen todo lo posible por fastidiar a los rivales hasta conseguir que caigan eliminados, aguantando tanto tiempo como sea posible con la esperanza de que sean los rivales los que finalmente se encuentren con un gato explosivo.</p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Idioma: Castellano
            </div>
            <div class="col-md-6">
                Número de jugadores: 2-5 jugadores
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Precio</h4>
                <h3>S/100</h3>
            </div>
            <div class="col-md-6 text-right">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="glyphicon glyphicon-heart"></span>
            </div>
        </div>
        <hr />
        <p>Cantidad</p>
        <div>
            <button type="button" class="btn btn-primary">-</button>
            1
            <button type="button" class="btn btn-primary">+</button>
        </div>
        <br />
        <button type="button" class="btn btn-primary">Añadir</button>


    </div>
    <h3>Productos Vinculados</h3>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>

