@model SantaMesa.Models.Productos
@{
    ViewBag.Title = "ProductoDetalle";
}

<h2>ProductoDetalle</h2>
<div class="container">
    <img class="img-fluid banner-img" src="~/styles/img/catalogo.png" />

</div>
<div class="row">
    <div class="col-md-4">
        <img src=" @Html.DisplayFor(model => model.imagen)" alt="Alternate Text" width="400" />
    </div>
    <div class="col-md-8">
        <h3> @Html.DisplayFor(model => model.nombre_producto)</h3>
        <small>
            @{Html.DisplayFor(model => model.estado);}
        </small>
        <p> @Html.DisplayFor(model => model.descripcion)</p>
        <hr />

        <div class="row">
            <div class="col-md-6">
                <h4>Precio</h4>
                <h3>S/@Html.DisplayFor(model => model.precio)</h3>
            </div>
        </div>
        <hr />
        <p>Cantidad</p>
        <div class="">
            <button type="button" class="btn btn-primary " id="less">-</button>
            <p id="cantidad" class="count">1</p>
            <button type="button" class="btn btn-primary " id="more">+</button>
        </div>
        <br />
        <button type="button" class="btn btn-primary">Agregar a carrito</button>


    </div>
</div>
<div class="row ">


    <h3 class="text-center">Productos Vinculados</h3>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="https://diadejuegos.com/8046-large_default/dobble.jpg" alt="...">
            <div class="caption">
                <h3>VIRUS</h3>
                <div class="row">
                    <div class="col-md-8">
                        <p>S/.60</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>

                <a href="https://localhost:44355/Home/ProductoDetalle/17" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="https://diadejuegos.com/7547-large_default/la-tripulacion.jpg" alt="...">
            <div class="caption">
                <h3>
                    LA TRIPULACION
                </h3>
                <div class="row">
                    <div class="col-md-8">
                        <p>70</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>

                <a href="https://localhost:44355/Home/ProductoDetalle/18" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="https://diadejuegos.com/8029-large_default/fantasma-blitz.jpg" alt="...">
            <div class="caption">
                <h3>
                    FANTASMA BLITZ
                </h3>
                <div class="row">
                    <div class="col-md-8">
                        <p>70</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>

                <a href="https://localhost:44355/Home/ProductoDetalle/19" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="https://diadejuegos.com/380-large_default/sushi-go.jpg" alt="...">
            <div class="caption">
                <h3>SUSHI GO</h3>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            60
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>

                <a href="https://localhost:44355/Home/ProductoDetalle/20" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
            </div>
        </div>
    </div>
</div>


<script>
    var less = document.getElementById("less");
    var more = document.getElementById("more");
    var cantidad = document.getElementById("cantidad");
    var contador = parseInt(cantidad.textContent);
    less.addEventListener("click", e => {
        if (contador > 1) {
            contador--;
            cantidad.innerHTML = contador;
        }
    })
    more.addEventListener("click", e => {
        if (contador < 11) {
            contador++
            cantidad.innerHTML = contador;
        }
    })
</script>