@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Cuenta</h3>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Informacion General</a></li>
        <li role="presentation"><a href="#">Mis Direcciones</a></li>
        <li role="presentation"><a href="#">Whislists</a></li>
        <li role="presentation"><a href="#">Contraseña y Seguridad</a></li>
    </ul>
    <div class="row">
        <div class="col-md-10 ">
            <h3>Whislists</h3>
        </div>
        <div class="col-md-2 categories">
            <br />
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-santamesa" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>